@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

.product-container{
    margin-top: 5rem;
}
.prod-image-container{
    width: 400px;
    height: 450px;
}
.prod-image{
    width: 400px;
    height: 450px;
    object-fit: contain;
}
