.d-flex{
    display: flex;
}
.horizontal-container{
    padding: 10px;
    width: 38rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    height: 14rem;
    align-items: center;
    justify-content: space-between;
    /* gap: 12px; */
}

.hr-image-container{
    width: 8rem;
    height: 12rem;
}

.hr-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .hr-btn{
    width: 100%;
    color: white;
    background-color: var(--primary-btn-color);
  }