@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

.card-container{
  width: 18rem;
  /* border: 1px solid black; */
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.image-container{
  width: 100%;
  height: 15rem;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-details{
  padding: 10px;
}
.price-container{
  display: flex;
  gap: 1rem;
}
.old-price{
  text-decoration: line-through;
}
.cart-btn{
  width: 100%;
  background-color: brown;
}
