@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.card-container{
  width: 18rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.image-container{
  width: 100%;
  height: 15rem;
}

.absolute{
  position: absolute;
  background: none;
  border: none;
  margin: 5px;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-details{
  padding: 10px;
}

.price-container{
  display: flex;
  gap: 1rem;
}
.prod-old-price{
  text-decoration: line-through;
  font-size: 12px;
  align-self: flex-end;
}

.prod-new-price{
  font-weight: 700;
}

.prod-discount{
  color: var(--primary-btn-color);
  font-weight: 700;
}

.cart-btn{
  width: 100%;
  padding: 8px 0;
  color: white;
  background-color: var(--primary-btn-color);
}

.prod-title{
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

.prod-category{
  letter-spacing: 1px;
}

.favorite{
  color: #dc2626;
}

