.filter{
    width: 15rem;
    height: 100vh;
    padding: 1rem 1rem 10rem 1rem;
    position: fixed;
    top:0;
    left:0;
    /* z-index: 1; */
    overflow: auto;
    margin-bottom: 5rem;
    /* overflow-x: hidden; */
    
  }
  .slider{
    width: 100%;
  }
.nav-filter{
    padding: 3px;
    display: flex;
    justify-content: space-between;
  }
  .price-range{
    display: flex;
    justify-content: space-between;
  }
  .filter-list{
    padding-top: 10px;
  }
  .additional-filter{
    padding-bottom: 5rem;
  }