.filter{
    width: 17rem;
    height: 100vh;
    padding: 1rem 2rem 5rem 2rem;
    position: fixed;
    top:5rem;
    left:0;
    /* z-index: 1; */
    overflow: auto;
    margin-bottom: 5rem;
    /* overflow-x: hidden; */
    
  }
  .slider{
    width: 100%;
  }
  .nav-filter{
    padding: 3px;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .clear-btn{
    font-size: 1.25rem;
    background: none;
    color: var(--primary-btn-color);
    border: none;
    border-bottom: 1px solid var(--primary-btn-color);
  }

  .price-range{
    display: flex;
    justify-content: space-between;
  }
  .filter-list{
    padding-top: 10px;
  }
  .additional-filter{
    padding-bottom: 5rem;
  }

  .check-box{
    width: 16px;
    height: 16px;
  }